:root {
    --background-color:#1f2937;
    --button-color:#3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 4rem;
}

#nav-bar {
    
    background-color: #1f2937;
    color: snow;
    display: flex;
    font-family: sans-serif;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-bar h1 {
    padding: 4px;
}
    

#nav-bar ul a {
   padding: 14px;
   
}

#hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
    display: flex;
}

#hero h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    
}

#hero img {
    padding: 15px;
   
}

#hero section {
    flex: 1;
}

#hero p {
    font-size: 16px;
    color: #e5e7eb;

}

#hero button {
    background-color: #3882f6;
    padding: 5px 20px 5px 20px;
    color: #f9faf8;
    border-radius: 10px;
    border: 1px solid #3882f6;
    margin-top: 10px;
}

#infromation {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#infromation h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
#infromation ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#infromation ul li {
    border: 2px solid var(--button-color);
    padding: 50px;
    border-radius: 10px;
    
}

#quote {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e5e7eb;
}
#quote p {
    padding: 80px;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}